body {
  font-family: Arial, sans-serif;
  margin: 1;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 40px;
}

.multimedia {
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #004080;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #eaeaea;
  font-size: 0.9em;
}
