body {
  font-family: Arial
  background-colour: #f0f0f0;
  color: #333
}

h1 {
  font-zise: 28px;
  color: navy;
}

ul {
  list-stile: none;
  padding: 0px
}

div {
  background-color #ddd;
  padding 15px;
  border 1px solid #ccc
}

img {
  border radious: 10px;
}
